.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar{
  flex: 3;
  height: calc(100vh - 50px);
}

.sidebarWrapper{
  padding: 20px;
}

.sidebarList{
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebarIcon{
  margin-right: 5px;
}
.profile{
  display:flex;
}

.profileRight{
  flex:9;
}

.profileRightTop{
  object-fit: center;
  margin-right: 30px;
}

.profileCoverImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position:absolute;
  object-fit: cover;
  left: 320px;
  right: 0;
  margin: auto;
  top: 125px;
  justify-content:center;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.profileRightBottom{
  display: flex;
  margin-right: 30px;
}

.topbarContainer{
  height: 50px;
  width: 100%;
  background-color: #000080;
  display: flex;
  align-items: center;
  position: sticky, absolute;
  top: 0;
}

.topbarLeft{
  flex: 2;
}

.logo{
  color:#FFA500;
  cursor: pointer;
  margin-left: 20px;
}

.topbarCenter {
  flex: 5;
}

/* formats searchbar */
.searchbar{
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon{
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput{
  border: none;
  width: 80%;
}

/* hides search bar outline */
.searchInput:focus{
  outline: none;
}

.topbarRight{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* formats any links that will be on the right of the screen */
.topbarLink{
  margin-right: 50px;
  font-size: 14px;
  cursor: pointer;
  color: #FFA500;
}

.shareBox{
  width: 100%;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop{
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput{
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions{
  display: flex;
  margin-left: 20px;
}

.shareOption{
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon{
  font-size: 18px;
  margin-right: 5px;
  color: #FFA500;
}

.shareOptionText{
  font-size: 14px;
  font-weight: 500;
}