.landing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.landing-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 126px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 126px;
  position: absolute;
}
.landing-rectangle2 {
  top: 36px;
  left: 1471px;
  width: 318px;
  height: 54px;
  position: absolute;
}
.landing-rectangle3 {
  top: 36px;
  left: 1738px;
  width: 104px;
  height: 54px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
.landing-headerclickystuff {
  top: 48px;
  left: 1504px;
  width: 315px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.landing-text {
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text01 {
  left: 256px;
  color: rgb(255, 165, 0);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text02 {
  left: 103px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-welcome-text {
  top: 175px;
  left: 250px;
  width: 838px;
  height: 683px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-text04 {
  top: 98px;
  left: 87px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text06 {
  top: 242px;
  left: 223px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text12 {
  top: 523px;
  left: 279px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-clickystuff {
  top: 413px;
  left: 153px;
  width: 500px;
  height: 134px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.landing-link {
  display: contents;
}
.landing-button {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 100px;
  position: absolute;
  border-radius: 25px;
  text-decoration: none;
}
.landing-text14 {
  top: 110px;
  left: 327px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: underline;
}
.landing-text15 {
  top: 436px;
  left: 336px;
  color: rgba(255, 165, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
