.profile-edit-form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-edit-form-profile-edit-form {
  width: 100%;
  height: 1285px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profile-edit-form-form {
  gap: 32px;
  top: 413px;
  left: 80px;
  width: 626px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-edit-form-fn-edit {
  gap: 8px;
  width: 295px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-edit-form-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-field {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.profile-edit-form-text02 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-ln-edit {
  gap: 8px;
  width: 297px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-edit-form-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-field1 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.profile-edit-form-text06 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-email-edit {
  gap: 8px;
  width: 626px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-edit-form-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-field2 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.profile-edit-form-text10 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-button {
  gap: 8px;
  display: flex;
  padding: 16px 32px;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.profile-edit-form-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-headline {
  gap: 24px;
  top: 244px;
  left: 80px;
  width: 624px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-edit-form-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
.profile-edit-form-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profile-edit-form-items {
  gap: 48px;
  top: 56px;
  left: 779px;
  width: 581px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.profile-edit-form-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-button1 {
  gap: 8px;
  display: flex;
  padding: 14px 24px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.profile-edit-form-text22 {
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-text24 {
  top: 67px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-navigation1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profile-edit-form-items1 {
  gap: 48px;
  top: 56px;
  left: 779px;
  width: 581px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.profile-edit-form-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-button2 {
  gap: 8px;
  display: flex;
  padding: 14px 24px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.profile-edit-form-text32 {
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-text34 {
  top: 67px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
.profile-edit-form-frame2 {
  top: 248px;
  left: 845px;
  width: 515px;
  height: 661px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(150, 56, 197, 1);
}
