.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #000080;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbarLeft{
    flex: 2;
}

.logo{
    color:#FFA500;
    cursor: pointer;
    margin-left: 20px;
}

.topbarCenter {
    flex: 5;
}

/* formats searchbar */
.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 80%;
}

/* hides search bar outline */
.searchInput:focus{
    outline: none;
}

.topbarRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 /* formats any links that will be on the right of the screen */
.topbarLink{
    margin-right: 50px;
    font-size: 14px;
    cursor: pointer;
    color: #FFA500;
}